apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/part-of: longhorn
    homelab.local/OwnedBy: ElPoshoX

resources:
- https://github.com/kubernetes-csi/external-snapshotter/client/config/crd
- https://github.com/longhorn/longhorn/releases/download/v1.8.2/longhorn.yaml
- secret.yaml
- ingress.yaml
- storage-class.yaml
