# Grafana Ingress
# Link: https://doc.traefik.io/traefik/routing/providers/kubernetes-crd/
#
# Exposes Grafana dashboard via Traefik IngressRoute

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: grafana
  labels:
    app.kubernetes.io/name: grafana
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.elposhox.dev`)
      kind: Rule
      services:
        - name: grafana
          port: 3000
  tls:
    certResolver: letsencrypt-prod
