apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base


patches:
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --entryPoints.web.http.redirections.entryPoint.to=websecure
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --entryPoints.web.http.redirections.entryPoint.scheme=https
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --log.level=DEBUG
    - op: add
      path: "/spec/template/metadata/labels/app.kubernetes.io~1name"
      value: traefik
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --entryPoints.dns-tcp.address=:53/tcp
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --entryPoints.dns-udp.address=:53/udp
    - op: add
      path: /spec/template/spec/containers/0/ports/-
      value:
        name: dns-tcp
        containerPort: 53
        protocol: TCP
    - op: add
      path: /spec/template/spec/containers/0/ports/-
      value:
        name: dns-udp
        containerPort: 53
        protocol: UDP
  target:
    kind: Deployment
    name: traefik
    namespace: traefik
- patch: |-
    - op: add
      path: /spec/ports/-
      value:
        name: dns-tcp
        protocol: TCP
        port: 53
        targetPort: 53
    - op: add
      path: /spec/ports/-
      value:
        name: dns-udp
        protocol: UDP
        port: 53
        targetPort: 53
  target:
    kind: Service
    name: traefik
    namespace: traefik