apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: adguard-dns-tcp
  namespace: adguard
spec:
  entryPoints:
    - dns-tcp
  routes:
    - match: HostSNI(`*`)
      services:
        - name: adguard-home
          port: 53
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteUDP
metadata:
  name: adguard-dns-udp
  namespace: adguard
spec:
  entryPoints:
    - dns-udp
  routes:
    - services:
        - name: adguard-home
          port: 53
